
     
        	<img class="profile-picture" src="sara.jpg" alt="Sara">
            <h1><%= @title %></h1>
<p>This is my awesome page</p>
<p>It's amazing!</p>

<p>I like Backstreet Boys a lot. I'm going to marry <%= @who_i_marry %>!</p>


       




